.navbar
    display flex
    justify-content space-between
    max-width $tablet-width
    margin auto
    padding 30px 5px

    &-logo
        img
            width 80px

    &-right
        display flex
        font-size 1.2rem
        align-items center

    &-link
        &
        &--auth
            padding 0 10px
