.navbar
    padding 20px 15px 0
    font-size 1.2rem
    background-color transparent!important

    &-item
        &:hover
            background-color inherit !important

    .tabs
        font-size 1.2rem

        +below($bulma-mobile)
            &
            ul
                display block

            ul
                padding-bottom 1px

        ul
            border-bottom 0

        .is-active
            a
                &
                &:hover
                    border-bottom-color $primary

        a:hover
            border-bottom-color $primary

    &-logo
        padding-bottom 10px
        img
            width 80px

            +below($bulma-mobile)
                width 60px

            +below($mobile-width)
                width 50px

    &-auth
        align-items center

        .tags
            margin-bottom 0

            *
                font-size 1rem
                margin-bottom 0

        +below($bulma-mobile)
            display none

        .navbar-item:not(.portal-navbar-item)
            color darken($light, 10%)!important
            &:hover
                color $light!important
