html
    font-size 16px

form
.status
    max-width 700px

    label
        color white!important

    .field
        margin-bottom 25px!important

    .form-buttons
        display flex
        align-items center
        margin-top 25px

        .submit-button
            margin-right 20px

        +below($mobile-width)
            flex-direction column

            .submit-button
                margin-right 0
                margin-bottom 15px

.status
    margin 15px 0
