html
    font-size 16px

form
.status
    max-width 700px

    label
        color white!important

    .field
        margin-bottom 25px!important

    .submit-button
        margin-top 15px

.status
    margin 15px 0
