.admin-page
    padding 20px
    min-height calc(100vh - 68px)

    &-container
        color white
        background-image linear-gradient(60deg, #29323c 0%, #485563 100%)

    &-title
        font-size 1.5rem
        border-bottom 3px solid white
        padding-bottom 15px

    &-desc
        margin-bottom 15px

    &-content
        padding 30px 0

        table
            width 100%
            color white
            border-radius 10px
            background-color transparent

            font-size 1.2rem

            th
                color white

            .tr
                cursor pointer

                &:hover
                    background-color rgba(0,0,0, .15)
