.contact
    &-tile-element
        font-size 1.2rem
        margin-bottom .5rem

        i
            margin-right .3rem

    span&-tile-element
        margin 0 10px 0 0

        +below($tablet-width)
            display block
            margin 0 0 10px
