.dashboard
    +above($mobile-width)
        padding-top 30px

    .table
        margin-bottom 30px

    .pagination
        max-width 500px
        margin 0 auto 30px
        justify-content center

        &-list
            flex-grow 0
