.home

    .table
        // background-color rgba(255,255,255, .6)
        color white
        border-radius 10px
        background-color transparent

        font-size 1.2rem

        th
            color white
