.rules
    &-item
        margin-bottom 30px

    &-title
        font-size 1.3rem
        margin-bottom 1em
        font-weight bold

    &-paragraph
        margin-bottom 1em

    ol
        padding-left 2rem

        li
            margin-bottom .5rem
